nav{
    display: flex;
    justify-content: space-around;
    background-color: #212121;
    color: white;
    padding: 10px;
}

nav a{
    color:white;
    text-decoration: none;

}

//clase activa
nav a.active{
    color: #ff9800;
    font-weight: bold;
    text-decoration: underline;
}