<h1>Dragon Ball page</h1>
<hr />

<section class="row">
    <div class="col-12 col-md-6">
        <h3>Agregar:  </h3>
        <input type="text" class="form-control mb-2" placeholder="Nombre "  
            [value]=" name()"
            (change)="name.set(txt.value)"
            #txt
        
        />
        <!-- si se le añade +, transforma de texto a int -->
        <input type="text" class="form-control mb-2" placeholder="Poder" 
            [value]=" power()"
            (change)="power.set(+num.value)"
            #num
        />
        <button (click)=" addCharacter()" class="mt-2 btn btn-primary ">Agregar</button>
    </div>

   
    <div class="col-12 col-sm-6">
        <h3>Listado:</h3>
        <!-- ol es para añadir una lista ordenada con numeros, si no solo hay un punto al principio -->
        <ul>
            <!-- no usar track indez porque puede dar error si modifico el array -->
            @for (character of characters(); track character.id; let idx = $index) {
                <li class="list-group-item">
                    <span class="fw-bold">{{idx +1}} - {{ character.name }}</span>
                    <!-- ahora queremos que solo se use txet danger cuando el
                    poder sea mayor a 9000 -->
                    <strong 
                        [class.text-danger]="character.power>=9000"
                        [class.text-primary]="character.power<9000"
                        
                        > - ({{ character.power }})</strong>
            }
        </ul>
        
    </div>

     <div class="col-12 col-md-6">
        <h3>Prueba: {{texto()}} </h3>
         <!-- ·txt es una referencia local y afecta a todo el área del input.
          tambien se puede poner un change que se cambia el texto cuando se sale 
          del cuadro de texto -->
          <!-- IMPORTANTE aunque la referencia de txt1 sea local, no usarla en 
          nningun otro sitio, si no da error -->
        <input type="text" class="form-control mb-2" placeholder="Texto "  
            [value]=" texto()"
            (input)="texto.set(txt1.value)"
            #txt1
        
        />
        <!-- <button class="mt-2 btn btn-primary ">Agregar</button> -->
    </div>
</section>
  