<h1>Dragon Ball page</h1>
<hr />

<section class="row">
    <div class="col-12 col-md-6">
        <!-- se pone el dolar con event para enviar valores pequeños, no enviar
        valores muy grandes -->
        <!-- al ser un componente personalizado, tenemos un solo evento que hemos
        definido con una funcion. Un evento es el click del botón por ejemplo definido -->
        <!-- en este caso nuestro evento es el newCharacter -->
        <dragonball-character-add
            (newCharacter)= "dragonballService.addCharacter($event)"
        />
    </div>

   
    <div class="col-12 col-sm-6">
        <!-- lo que va entre corchetes cuadrados es porque es dinamico y cambia
        si no va entre corchetes cuadrados no cambia y se puede enviar tal cual -->

        <dragonball-character-list 
        
            listado="Listado fuertes:"
            [characters]="dragonballService.characters()"/>
        
        
    </div>

     
</section>
  